{% extends 'front_layout.html' %}
{% block content %}
<h2>Login</h2>
<hr/>
<form role="form" method="post" action="{% url 'login' %}">
    {% include 'form.html' with class="" %}
    <button class="btn btn-primary block full-width m-b">Login</button>
    <div class="text-danger">{{ message }}</div>

    <div class="text-center">
        <a href="{% url 'recover_password' %}">
            <small>Forgot password?</small>
        </a>

        <a href="{% url 'register' %}">
            <small><strong>Sign up</strong></small>
        </a>
    </div>

</form>
{% endblock %}
