{% extends 'front_layout.html' %}
{% block content %}
<h2>Recover password</h2>
<hr/>
<form class="m-t" role="form" method="post" action="{% url 'recover_password' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" placeholder="" value="{{ email }}"
               required="true">
        <span class="help-block">The email you used to create your account</span>
    </div>
    <button class="btn btn-primary block full-width m-b">Continue</button>
    <div class="text-danger">{{ message }}</div>

    <div class="text-center">
        <a href="{% url 'login' %}">
            <small>Login</small>
        </a>
    </div>

</form>

{% endblock %}
